.footer-block {
    display:flex;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color:  #2E2F42;
    color: #f4f4fd;
}

@media screen and (min-width: 1158px) {
    .footer-block {
        padding: 100px 0;
    }
}



.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width:768px){
    .footer-container {

        padding: 0 108px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        padding: 0 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        gap:0;

     }
}

.footer-logo-text {
    display: flex; 
    flex-direction: column;
    gap:16px;
}

@media screen and (min-width: 1158px) {
    .footer-logo-text {
        padding-right: 120px;
    }
}


.color-accent {
    color:#4D5AE5;}

.footer-logo {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media screen and (min-width:768px){
    .footer-logo {
        justify-content:flex-start;
    }
}

.footer-text {
    display: flex;
    width:264px;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-link {
    display: flex;
    gap: 16px;
    flex-direction:column;
    align-items: center;
}

@media screen and (min-width:768px) {
    .footer-social-link {
        align-items: flex-start;
    }
}

.footer-social-text {
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-list {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.footer-social-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    border-radius:20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-items:hover {
    background-color:#31D0AA;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons:focus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius:20px; 
    background-color:#31D0AA;
}

.footer-subscribe{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;

}

@media screen and (min-width:768px) {
    .footer-subscribe {
     display: block;
   
    
    }
}

@media screen and (min-width: 1158px) {
    .footer-subscribe{
        align-items: flex-start;
        margin-top: 0;
        margin-left: auto;
   
    }
}


.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

@media screen and (min-width:768px) {
    .footer-subscribe-form {
        flex-direction: row;
        gap:24px;

    }
}



.footer-subscribe-name {
    display: flex;
    /* justify-content: center; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

@media screen and (min-width:768px) {
    .footer-subscribe-name {
        display: block;
        margin-bottom: 16px;
    }
}



.footer-input-email {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    outline: none;
    background-color: #2E2F42;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .footer-input-email {
        width: 264px;
    }
}


.footer-input-email::placeholder{
    color: #FFFFFF;
    border-color: none;
}

.footer-input-email:focus,
.footer-input-email:hover,
.footer-input-email:active {
    border-color: #31D0AA;
}

.footer-button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    width: 165px;
    gap: 16px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-subscribe:focus,
.footer-button-subscribe:hover,
.footer-button-subscribe:active {
    background-color: #31D0AA;
    outline: none;
}

.footer-button-icon{
    fill: #FFFFFF;
}

