.team-block{
    background-color: #F4F4FD;
    margin: 0 auto;
}

.team-container {
    width: auto;
}

.team-list {
    display: flex; 
    flex-direction: column;
    gap: 72px;
    margin-top: 72px;
    padding-inline: 12px;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: center;
        row-gap:64px;
        padding: 0;
    }
}

.team-card {
    background: #FFFFFF;
    display:flex;
    text-align: center;
    flex-direction: column;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.team-social-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    border-radius:40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-items:hover,
.team-social-items:focus{
    background-color:#404BBF;
}

.team-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
}